#add{
    border-radius: 50%;
    background-color: #2bff00;
    width: 40pt;
    height: 40pt;
    color: aliceblue;
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.rem{
    /* border-radius: 50%; */
    background-color: #ff0000;
    position: absolute;
    color: aliceblue;
    text-align: center;
    font-size: .5em;
    width: 15pt;
    height: 15pt;
    right: 0;
    top: 0;
}
button {
    display: inline-block;
    /* position: relative; */
    display: inline;
    font: normal 17px arial;
    transition: 0.2s;
    transition-delay: 0.2s;

  }
.card{
    width: 20%;
    min-width: 200px;
    padding: 20px;
    display: inline-block;
    background-color: palegreen;
    margin: 20px;
    word-wrap: break-word;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}